.artisan {
  li {
    border-bottom: 0.5px dashed #d0d0d0;
    margin: 15px 0;
    .clr {
      clear: both;
    }
  }
  .other {
    ul {
      li {
        float: left;
        padding-right: 10px;
        border: none;
        span {
          padding-right: 5px;
        }
      }
    }
  }
}

.project_list {
    li {
      width: 50%;
      float: left;
      padding: 15px 15px;
      box-sizing: border-box;
      img{
        height: 200px;
      }
    }
}
